$bg: #212121;
$bgLight: #FAFAFA;

$base0: #616161;
$base0Light: #E0E0E0;

$base1: #424242;
$base1Light: #EEEEEE;

$base2: #F5F5F5;
$base2Light: $base1;

$base3: #00B0FF;
$warn: #F44336;

$success: #CCFF90;
$successLight: #00E676;

$waiting: #E0F7FA;
$waitingLight: #9E9E9E;